<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Admdins</title>

  <style>
    body {
      background: #f4f6f9;
    }
    .container {
      max-width: 900px;
      margin: 30px auto;
    }
    .btn-toggle {
      padding: 10px 16px;
      background: #000000;
      color: #fff;
      border: none;
      border-radius: 3px;
      margin-bottom: 20px;
    }
    .form-card {
      background: #fff;
      padding: 20px;
      border-radius: 3px;
      box-shadow: 0 6px 18px rgba(0,0,0,0.06);
      display: none;        
    }
    .form-card h3 {
      margin-top: 0;
      font-size: 18px;
      color: #222;
      margin-bottom: 12px;
    }
    .form-group { margin-bottom: 14px; }
    .form-group label { display: block; margin-bottom: 6px; }
    input, select {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 3px;
      font-size: 14px;
    }
    .btn-submit {
      padding: 10px 14px;
      background: #000000;
      border: none;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
    }
    .table-wrap {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    }
    table.simple {
      width: 100%;
      border-collapse: collapse;
    }
    table.simple th,
    table.simple td {
      padding: 12px 10px;
      border-bottom: 1px solid #e6e9ef;
      font-size: 14px;
      text-align: left;
    }
    table.simple thead {
      background: #f4f6fb;
    }
    .btn-view {
      padding: 6px 10px;
      background: #000000;
      border-radius: 6px;
      color: #ffffff;
      text-decoration: none;
      cursor: pointer;
    }
    .modal-bg {
    display: none;                      /* hides the modal initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);       
    justify-content: center;            
    align-items: center;               
    z-index: 9999;                      
    }

    .modal-box {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
    }
    .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    }
  </style>
</head>
<body>
<div class="container">

   <div style="margin-right: auto;margin-bottom: 20 px;">
  <% if( roles === "superadmin"){ %>
  <button class="btn-toggle" onclick="window.location.href='/dashboard/superadmin'">Orders</button>
    <%}%>
 <% if( roles === "admin"){ %>
  <button class="btn-toggle" onclick="window.location.href='/dashboard/admin'">Orders</button>
    <%}%>
  <button class="btn-toggle" onclick="window.location.href='/products'">Products</button>
  <button class="btn-toggle" onclick="window.location.href='/admins'">Administrators</button>
  <button class="btn-toggle" onclick="window.location.href='/shoppers'">Shopers</button>
  <button class="btn-toggle" onclick="window.location.href='/logout'">Logout</button>
  </div>

  <div style="margin-top: 20px;" >
  <button class="btn-toggle" onclick="showForm()">Add New Administrator</button>
  <button class="btn-toggle" onclick="showTable()" style="display:none;" id="backBtn">Back to Admins</button>

  <!-- ===  Admin creation form === -->
  <div class="form-card" id="orderForm">
    <h3>Register New Administrator</h3>
    <form action="/admins" method="POST">
      <div class="form-group">
        <label>Admin Name</label>
        <input type="text" name="adminName" required>
      </div>
        <div class="form-group">
          <label>Admin ID</label>
          <input type="number" name="adminId" required>
        </div>
         <div class="form-group">
          <label>Role</label>
          <select name="role" required>
            <option value="" disabled selected>Select Role</option>
            <option value="admin">Admin</option>
            <option value="superadmin">Super Admin</option>
          </select>
        </div>
         <div class="form-group">
          <label>Password</label>
          <input type="text" name="password" id="password" onclick="generatorPassword()">
        </div>
      <button class="btn-submit" type="submit">Add Admin</button>
    </form>
  </div>

  <!-- pop up modal used to edit admin data-->
   <div id="orderModal" class="modal-bg">
    <div class="modal-box">
        <span class="close-btn" onclick="closeModal()">x</span>
        <h3 id="madalTitle">Edit Profile</h3>
    <form id="modalForm" method="POST">
      <div class="form-group">
        <label>Admin Name</label> 
        <input type="text" name="adminName" id="modalItem" required>
      </div>
        <div class="form-group">
          <label>Admin ID</label>
          <input type="number" name="adminId" id="modalItemId" required>
        </div>
         <div class="form-group">
          <label>Role</label>
           <select name="role" id="modalRole" required>
            <option value="admin">Admin</option>
            <option value="superadmin">Super Admin</option>
          </select>
        </div>
      <button class="btn-submit" type="submit" id="modalBtn">Update Profile</button>
    </form>
    </div>
    </div>
  <!-- === table to show admins === -->
  <div class="table-wrap" id="tableSection">
    <h2>Admins</h2>
    <table class="simple">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Role</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
   <%if (admins && admins.length >0){%>
    <% admins.forEach(admin => {%>
            <tr>
              <td><%= admin.adminId %></td>
              <td><%= admin.adminName %></td>
              <td><%= admin.role %></td>
              <td><%= admin.password %></td>
              <td>
                <button type="button" class="btn-view" onclick="editAdmin('<%= admin._id%>',
                '<%= admin.adminName.replace(/'/g, '\\\'') %>',
                '<%= admin.adminId%>',
                '<%= admin.role%>',
                '<%= admin.password%>')">
                Edit
            </button>
                <a class="btn-view" href="/admins/<%= admin._id%>/delete">Delete</a>
              </td>
            </tr>
<%})%>
<%} else { %>
          <tr>
            <td colspan="4" style="text-align:center; padding:14px; color:#666;">
              No Admins found.
            </td>
          </tr>
          <%}%>
      </tbody>
    </table>
  </div>
</div>
</div>

<script>
  //function for showing admin creation form
  function showForm() {
    document.getElementById("orderForm").style.display = "block";
    document.getElementById("tableSection").style.display = "none";
    document.getElementById("backBtn").style.display = "inline-block";
  }

  //function for showing admin table
  function showTable() {
    document.getElementById("orderForm").style.display = "none";
    document.getElementById("tableSection").style.display = "block";
    document.getElementById("backBtn").style.display = "none";
  }

  //function for showing modal for updating admin info update
  function editAdmin(id, adminName, adminId, role,password){ 
    document.getElementById("modalItem").value = adminName
    document.getElementById("modalItemId").value = adminId
    document.getElementById("modalRole").value = role
    document.getElementById("modalForm").action = "/admins/" +id+"?_method=put";
    document.getElementById("orderModal").style.display = "flex";
  }

  //function for generatin random passwords for admin creation 
  function generatorPassword(){ 
    const input=document.getElementById("password")
    const length=8  // length of generated password
    const chars= 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz123456789!@#$%^&*' // the character set used for generating the password
    let password= ''
    const array= new Uint32Array(length)
    window.crypto.getRandomValues(array)
    for(let i=0; i<length; i++){
      password += chars[array[i]% chars.length]
    }
    input.value=password;
    input.readOnly=true;
  }

  //function for generatin password for admin editing
  function generatorPasswordModal(){ 
    const input=document.getElementById("modalpass")
    input.value=''
    const length=6
    const chars= 'abcdefghijklmnopqrstuvwxyz123456789'
    let password= ''
    for(let i=0; i<length; i++){
      password += chars.charAt(Math.floor(Math.random()*chars.length))
    }
    input.value=password;
    input.readOnly=true;
  }

  //function for closing modal
    function closeModal(){ 
    document.getElementById("orderModal").style.display = "none";
  }
</script>

</body>
</html>